$colors: (
  common: (
    white: #fff,
    black: #000,
    blue: #2785ff,
    heading: #fff,
    text: #707070,
    border: #eaebee,
    placeholder: #707070,
    orange: #ffb75e,
  ),
  theme: (
    1: #171717,
    2: #fb5050,
    3: #ff9900,
    4: #6b759e,
    5: #9db9c5,
    6: #171717,
  ),
  bg: (
    gray: #fff,
    black: #000,
    text: #fff,
    footer: #ff9900,
  ),
  badge: (
    new: #62c48f,
  ),
);
